* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgb(7, 152, 161);
  background: linear-gradient(
    220deg,
    rgba(7, 152, 161, 1) 8%,
    rgba(4, 4, 4, 0.9220063025210083) 100%
  );
  font-family: roboto;

}
/* navigation section */
.nav-menu {
  position: absolute;
  left: 5px;
  top: 0;
  display: flex;

  height: 100vh;
  opacity: 0.5;
}
.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav-link {
  list-style: none;
}
a {
  position: relative;
  text-decoration: none;
  opacity: 0.8;
  padding: 10px;
  color: white;
}
i {
  font-size: 50px;
  transition: 0.8s;
}
i:hover {
  transform: scale(0.7);
  opacity: 0.2;
}

span {
  position: absolute;
  bottom: 0;
  left: -110%;
  width: 100%;
  border: 2px solid blue;
  transition: 0.3s ease;
}
a:hover span {
  left: 0;
}

/* end navigation section */

/* container info */
.container-info {
  position: absolute;
  width: 45%;
  height: 65vh;
  background: rgb(9, 129, 138);
  background: linear-gradient(
    220deg,
    rgba(7, 152, 161, 1) 8%,
    rgba(4, 4, 4, 0.9220063025210083) 100%
  );
  border-radius: 12px;
  opacity: 0.8;
  animation: opacity-container 6s;
}
.img-container{
  position: absolute;
bottom: 0;
left: 0;
display: flex;


}
.person-img{
  width: 200px;
  height: 400px;

  
}
.header-container{
  position: relative;
display: flex;
flex-direction: column;
width: 50%;
margin-left: 200px;
margin-top: 25px;
}
h1{
  color: white ;
  opacity: 0.8;
  margin-bottom: 20px;
  letter-spacing: 4px;
}
p{
  color: white;
  opacity: 0.4;
  letter-spacing: 1px;
  margin-top: 10px;
}
/* end container info */
.slide-container-number {
  position: absolute;
  width: 45%;
  height: 65vh;
  left: 99%;
  background: rgb(9, 129, 138);
  background: linear-gradient(
    220deg,
    rgba(7, 152, 161, 1) 8%,
    rgba(4, 4, 4, 0.9220063025210083) 100%
  );
  border-radius: 12px;
  opacity: 0.8;
  
}



.slide-container-email {
  position: absolute;
  width: 45%;
  height: 65vh;
  left: 98%;
  background: rgb(9, 129, 138);
  background: linear-gradient(
    220deg,
    rgba(7, 152, 161, 1) 8%,
    rgba(4, 4, 4, 0.9220063025210083) 100%
  );
  border-radius: 12px;
  opacity: 0.8;
}



/* section  animation  */

.img-circle {
  position: absolute;
  top: 0;
  left: 55%;
  width: 450px;
  height: 450px;
  animation: rotate 30s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes opacity-container {
  from {
    opacity: 0;
    transform: rotateX(90deg);
  }
  to {
    opacity: 0.8;
  }
}

/* End section animation */


/* footer */
footer {
  position: absolute;
  bottom: 8px;
  right: 10px;
  opacity: 0.2;
  color: white;
  font-size: 10px;
}
/* End section footer */
